{
  "$schema": "https://raw.githubusercontent.com/openwdl/wdl/8199dd7e3f17322e827225d6e6bc886dac139207/modules/schemas/module.schema.json",
  "name": "__TOOL_DISPLAY_NAME__",
  "license": "MIT OR Apache-2.0",
  "description": "WDL tasks for `__TOOL_DISPLAY_NAME__`",
  "repository": "https://github.com/stjude-rust-labs/modules",
  "entrypoint": "__TOOL__.wdl",
  "tools": [
    {
      "name": "__TOOL_DISPLAY_NAME__",
      "version": "__VERSION__",
      "license": "__UPSTREAM_SPDX__",
      "url": "__UPSTREAM_URL__"
    }
  ],
  "dependencies": {}
}
