__operation__:
  - name: default
    inputs:
      __input_variable__:
        - input.txt
    assertions:
      exit_code: 0
      outputs:
        __output_variable__:
          - Name: __output_name__
